:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --primary-background-color: #ffffff;
   --secondary-background-color: #F5F4FA;
   --background-hero-color: #2F303A;

   --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*  reseting styles */

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

button {
   cursor: pointer
}

a {
   text-decoration: none;
   color: inherit;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

address {
   font-style: normal;
}

button {
   font-family: inherit;
   padding: 0;
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}


body {
   font-family: Roboto, sans-serif;
   font-style: normal;
   color: var(--primary-text-color)
}


/* Header styles */
.header {
   border-bottom: 1px solid #ECECEC;
}

.header.container {
   height: 80px;
   display: flex;
}

/* Logo styles */
.logo {
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;

   font-family: 'Raleway';
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: #000000;
   margin-top: auto;
   margin-bottom: auto;
}

.logo .part-logo {
   color: var(--accent-color);
}


/* Navigation styles */
.nav-link {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--title-text-color);

   padding-top: 32px;
   padding-bottom: 32px;
}

.site-nav :hover,
.site-nav :focus {
   color: var(--accent-color);
}



.navigation {
   display: flex;
   align-items: center;
   justify-content: center;
}

.site-nav {
   display: flex;
   align-items: center;
   justify-content: center;
}

.site-nav {
   margin-left: 93px;
   gap: 48px;
}

.nav-items {
   flex-basis: calc((100% - 2 * 50px)/2);

}

.nav-link {
   display: inline-block;
   position: relative;
}

.nav-link::after {
   position: absolute;
   left: 0;
   bottom: 0;
   content: '';
   width: 100%;
   height: 4px;
   padding-top: 1px;

   border-radius: 2px;
   background-color: var(--accent-color);
   transform: scaleX(0);
   transition: transform 250ms var(--cubic) 0ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
   transform: scaleX(1);
}

.current-page {
   color: var(--accent-color);
}

.current-page::after {
   transform: scaleX(1);
}




/* Header contacts styles */
.contacts.list {
   display: flex;

   align-items: center;
   justify-content: center;
   margin-left: auto;
}

.contacts-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   margin-left: auto;

   color: var(--primary-text-color);
   transition: color 250ms var(--cubic);
}

.contacts-item {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.contacts-item :hover,
.contacts-item :focus {
   color: var(--accent-color);
}

.contacts-link {
   display: flex;
   align-items: center;
   margin-left: 30px;
}

.header-icon {
   margin-right: 10px;
   align-items: center;
   fill: currentColor;
}


/* Main styles */

/* Hero styles */
.hero {
   max-width: 1600px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
      url(../images/hero-background.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

.hero-title {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #ffffff;

   margin-bottom: 30px;
}

.hero-wrapper {
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 200px;
   padding-bottom: 200px;
}

.button {
   color: #ffffff;
   background-color: var(--accent-color);
   border: none;
   border-radius: 4px;

}

.hero-button {
   display: flex;
   padding: 10px 32px;
   margin-left: auto;
   margin-right: auto;

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

   font-family: Roboto, sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.06em;

   transition: color 250ms var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
   cursor: pointer;
   color: #000000;
   background-color: #188CE8;
   /* background-color: #EEEEEE; */

}


/* Main styles */
.section-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;

   margin-bottom: 50px;
}

.section {
   padding-top: 95px;
   padding-bottom: 95px;
}


/*  What we do section  */

.we-do.list {
   display: flex;
}

.we-do-box {
   position: relative;
   display: inline-block;
}

.we-do-item:nth-child(-n+2) {
   margin-right: 30px;
}

.overlay-text {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background: rgba(47, 48, 58, 0.8);
}

.uppercase-text {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   color: #FFFFFF;
}

/* "Our advantages" styles */
.advantages-title {
   color: var(--title-text-color);

   font-weight: 700;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   margin-bottom: 10px;
}

.advantages-item {
   width: 270px;
}

.advantages-icon-box {
   height: 120px;
   background-color: var(--secondary-background-color);
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.advantages-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}

.hide-title {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.advantages-list {
   display: flex;
}

.advantages-item:nth-child(-n+3) {
   margin-right: 30px;
}

.advantages.section {
   padding-bottom: 0;
}


/* "Our team"  styles */

.section.team {
   background-color: var(--secondary-background-color);
}

.team-card {
   background-color: var(--primary-background-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.worker-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
   margin-bottom: 10px;
}

.worker-position {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   margin-bottom: 16px;
}

.team-list {
   display: flex;
   gap: 30px;
   flex-basis: calc((100% - 3 * 30px)/4);
}

.team-naming {
   padding: 30px 32px;
   text-align: center;
}

.social-list {
   display: flex;
   justify-content: space-between;
}

.social-link {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);

   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   fill: #AFB1B8;

   transition: fill 250ms var(--cubic),
      background-color 250ms var(--cubic),
      border-radius 250ms var(--cubic);
}


/*         ------------------------------- */
.social-link:hover,
.social-link:focus {
   background-color: var(--accent-color);
   fill: var(--primary-background-color);
}


/* Clients styles */
.clients-list {
   display: flex;
   gap: 30px;
   flex-basis: calc((100% - 5 * 30px)/6);
}


.clients-link {
   display: flex;
   width: 160px;
   height: 92px;
   justify-content: center;
   align-items: center;
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   fill: #AFB1B8;

   transition: fill 250ms var(--cubic);
}

.clients-link:focus,
.clients-link:hover {
   border: 1px solid var(--accent-color);
   fill: var(--accent-color);
}


/* Portfolio styles */

/* Buttons list */
.button-list {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.buttons-choose:not(:last-child) {
   margin-right: 10px;
}

/* 
.button-list .button  */
.example-button {
   font-family: Roboto;
   background-color: var(--secondary-background-color);
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;
   border: none;
   border-radius: 4px;
   padding: 6px 22px;

   transition: color 250ms var(--cubic),
      background-color 250ms var(--cubic),
      box-shadow 250ms var(--cubic);
}


.example-button:hover,
.example-button:focus,
.example-button:active {
   color: var(--primary-background-color);
   background-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Examples  */
.examples-container {
   padding-top: 95px;
   padding-bottom: 95px;
}

.example-link {
   position: relative;
}

.example-item {
   position: relative;
   box-sizing: border-box;
   background-color: #FFFFFF;
   flex-basis: calc((100% - 2 * 30px)/3);
}

.img-overlay {
   position: relative;
   overflow: hidden;
}

.overlay-wrapp {
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;
   color: #fff;

   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(33, 150, 243, 0.9);
   padding: 63px 24px;
   bottom: 0;
   width: 100%;
   height: 100%;

   transform: translateY(100%);
   transition: 250ms transform var(--cubic);

}

.example-link:focus .overlay-wrapp,
.example-item:hover .overlay-wrapp {
   transform: translateY(0);
}

.example-item:hover {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-text {
   padding: 20px 25px;
   border: 1px solid #EEEEEE;
}

.works-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
}

.example-name {
   font-weight: 700;
   font-size: 18px;
   line-height: 2.0;
   letter-spacing: 0.06em;
   margin-bottom: 4px;
   color: var(--title-text-color);
}

.example-type {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
}

/* Footer */
footer {
   background-color: var(--background-hero-color);
}

.footer.container {
   padding-top: 60px;
   padding-bottom: 60px;
}


/* Contacts styles */
.footer {
   display: flex;
   align-items: baseline;
   gap: 0;
}


.footer-social {
   width: 206px;
   height: 80px;
   margin-right: 70px;
   margin-left: 70px;
}

.social-title {
   margin-bottom: 20px;
}

.footer .social-link {
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   transition: background-color 250ms var(--cubic),
      color 250ms var(--cubic);
}

.social-link:hover,
.social-link:focus {
   background-color: var(--accent-color);
}

.footer .logo {
   display: inline-block;
   color: #FFFFFF;
   margin-bottom: 20px;
}

.footer-adress-link {
   color: #FFFFFF;
   transition: color 250ms var(--cubic);
}

.footer-contacts-item:nth-child(-n+2) {
   margin-bottom: 10px;
}

.footer-contacts-link {
   color: rgba(255, 255, 255, 0.6);
   transition: color 250ms var(--cubic);
}

.footer-contacts-link:focus,
.footer-contacts-link:hover,
.footer-adress-link:hover,
.footer-adress-link:focus {
   color: var(--accent-color);
}


/* Footer-subscribe */
.subscribe-title {
   margin-bottom: 20px;
}

.subscribe-form {
   display: flex;
}

.subscribe-input {
   width: 358px;
   height: 50px;
   letter-spacing: 0.03em;
   color: var(--primary-background-color);
   background-color: var(--background-hero-color);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   padding: 15px;

   outline: transparent;
}

.subscribe-button {
   display: flex;
   align-items: center;
   text-align: center;

   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: #FFFFFF;

   margin-left: 12px;
   padding: 10px 28px;

}

.subscribe-icon {
   margin-left: 10px;
}


/* Modal window */
.backdrop {
   position: fixed;
   left: 0;
   bottom: 0;
   top: 0;
   right: 0;
   opacity: 1;
   transition: opacity 250ms var(--cubic);
   background-color: rgba(0, 0, 0, 0.2);

}

.is-hidden {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;

}

.modal {
   position: absolute;
   width: 528px;
   height: 581px;
   top: 50%;
   padding: 40px;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   background-color: #FFFFFF;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   transition: transform 250ms var(--cubic);
}

.modal-close {
   cursor: pointer;
   position: absolute;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 8px;
   top: 8px;
   padding: 0;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   background-color: transparent;
   transition: fill 250ms var(--cubic);
}

.modal-close:hover,
.modal-close:focus {
   fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0);
}


/* Form styles */
.form-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 12px;

   color: var(--title-text-color);
}

.label {
   display: block;
}

.label-text {
   font-size: 12px;
   line-height: 1.6;
   letter-spacing: 0.01em;

   color: var(--primary-text-color);
}

.field {
   position: relative;
   margin-bottom: 10px;
}

.input {
   width: 100%;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   outline: transparent;
   transition: border 250ms var(--cubic);
}

.input:focus {
   border-color: var(--accent-color);
}

.field-input {
   padding: 10px 15px 10px 32px;
}

.field-icon {
   position: absolute;
   left: 14px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms var(--cubic);
}

.field-input:focus+.field-icon {
   fill: var(--accent-color);
}

.input-comment {
   padding: 12px 16px;
   height: 120px;
   resize: none;
   margin-bottom: 20px;

   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;

   color: rgba(117, 117, 117, 0.5);
}

::placeholder{
   font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}


.privacy {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
}

.privacy-wrapp {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 15px;
   height: 14px;
   border: 1px solid;
   border-radius: 2px;
   border-color: var(--title-text-color);
   transition: border-color 250ms var(--cubic);
}

.privacy-icon {
   opacity: 0;
   transition: opacity 250ms var(--cubic);
}

.privacy-input {
   position: absolute;
}

.privacy-input:checked+.privacy-wrapp {
   border-color: transparent;
}

.privacy-input:checked+.privacy-wrapp .privacy-icon {
   opacity: 1;
}

.privacy-link {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   text-decoration: underline;
   color: var(--accent-color);
}

.privacy-text {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
   margin-left: 8px;

}


.form-button {
   display: flex;
   align-items: center;
   text-align: center;
   padding: 10px 52px;
   margin-left: auto;
   margin-right: auto;

   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
}